* {
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    padding: 0;
}

/* HEADER */

.header {
    height: 700px;
    background-color: #EEEFF1;
}

.header__inner {
    height: 117px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.header__inner-box {
    width: 70%;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav a {
    text-decoration: none;
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    margin-right: 42px;
    color: black;
}

.nav a:last-child {
    margin-right: 0;
}

.nav a:hover {
    color: #34547A;
}

.title {
    height: 583px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.title__box {
    width: 60%;
    height: 51%;
    display: flex;
    justify-content: center;
}

.title__box img {
    width: 50%;
    height: 233.7px;
    margin-top: 21px;
}

.title__text {
    width: 541px;
    height: 100%;
}

.title__text h1 {
    font-weight: 500;
    font-size: 48px;
    line-height: 79px;
}

.title__text p {
    font-size: 16px;
    line-height: 26px;
    color: #727272;
    margin: 60px 0;
}

.title__text button {
    width: 225px;
    height: 65px;
    background-color: #34547A;
    border: none;
    color: white;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    letter-spacing: 0.1em;
    cursor: pointer;
}

.about-me {
    height: 616px;
}

.about-me__text {
    height: 366px;
    text-align: center;
    max-width: 515px;
    margin: auto;
}

.about-me__text h2 {
    font-weight: 500;
    font-size: 32px;
    line-height: 37px;
    text-align: center;
    padding: 119px 0 50px;
}

.about-me__text p {
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    color: #727272;
}

.about-me__projects {
    height: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #34547A;
}

.about-me__projects-box {
    width: 58%;
    height: 50px;
    display: flex;
    justify-content: space-between;
}

.about-me__projects-article {
    display: flex;
    color: white;
    width: 141px;
    justify-content: space-between;
    align-items: center;
}

.about-me__projects-info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.about-me__projects-article p:first-child {
    font-weight: 500;
    font-size: 21px;
}

.about-me__projects-article p:last-child {
    font-size: 16px;
}








/* .main-gallery {
    width: 1920px;
    height: 961px;
    display: flex;
    flex-wrap: wrap;
}

.back {
    width: 25%;
    height: 50%;
    background-image: url(./img/Rectangle\ 7.png);
    background-size: cover;
}

.back:nth-child(2) {
    background-image: url(./img/Rectangle\ 7.7.png);
}

.back:nth-child(4) {
    background-image: url(./img/Rectangle\ 7.7.png);
}

.back:nth-child(5) {
    background-image: url(./img/Rectangle\ 7.7.png);
}

.back:nth-child(7) {
    background-image: url(./img/Rectangle\ 7.7.png);
}

.gg {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: opacity .3s  ease-in-out; 
    background-color: rgba(52, 84, 122, .8);
}

.gg img {
    width: 20%;
}

.gg:hover {
    opacity: 1;
} */